html {
  font: 96px Courier;
}
#box_0{
  color: white;
  background-color: #399cc4;
  height: 130px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 0px;
}

#box_1{
  color: white;
  background-color: #e52451;
  height: 130px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 160px;
}

#box_2{
  color: white;
  background-color: #399cc4;
  height: 130px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 320px;
}

#box_3{
  color: white;
  background-color: #e52451;
  height: 130px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 480px;
}

#box_4{
  color: white;
  background-color: #399cc4;
  height: 130px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 640px;
}

#box_5{
  color: white;
  background-color: #e52451;
  height: 130px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 640px;
}

#box_6{
  color: white;
  background-color: #399cc4;
  height: 130px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 480px;
}

#box_7{
  color: white;
  background-color: #e52451;
  height: 130px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 320px;
}

#box_8{
  color: white;
  background-color: #399cc4;
  height: 130px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 160px;
}

#box_9{
  color: white;
  background-color: #e52451;
  height: 130px;
  width: 100px;
  padding: 30px;
  text-align: center;
  margin-left: 0px;
}
